.search-bar-form {
  width: 80%;
  margin: 40px auto 0 auto;
  display: flex;
  align-items: center;
  background: #15181C;
  border: 1px solid #282A36;
  border-radius: 12px;
  padding: 12px 12px;
  box-sizing: border-box;
}

.search-bar-icon {
  margin-right: 10px;
}

.search-bar-input {
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #F5F6FA;
  font-size: 20px;
  font-weight: 500;
}

.search-bar-clear-button {
  margin-left: 10px;
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background-color 0.2s;
}
.search-bar-clear-button:hover,
.search-bar-clear-button:focus {
  background-color: #3A4050;
}

.search-bar-submit-button {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  background-color: #282A36;
  color: #F5F6FA;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background-color 0.2s;
}
.search-bar-submit-button:hover,
.search-bar-submit-button:focus {
  background-color: #3A4050;
}
.search-bar-submit-button.loading {
  background-color: #444B58;
  cursor: not-allowed;
  box-shadow: none;
}